/* Main CSS file for the portfolio website */
body {
  margin: 0 auto;
}
.hide {
  display: none;
}
/* Primary font styles */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared Styles */
.text-center {
  text-align: center;
}
.secondary-bg {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}
.text-dark1 {
  color: #181818;
}
.text-dark2 {
  color: #474747;
}
.text-dark3 {
  color: #757575;
}
.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 18px;
  border-radius: 5px;
  border: none;
}
.btn-secondary {
  background-color: #fff8f3;
  color: #fd6e0a;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 25px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
}
.btn-primary {
  display: inline-flex; /* or flex if block-level */
  align-items: center;
  gap: 20px;
}
.btn-secondary {
  display: inline-flex; /* or flex if block-level */
  align-items: center;
  gap: 20px;
}
.section-title {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
}
.section-description {
  color: #757575;
  font-size: 18px;
}

/* Header Styles */
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left 20px center, bottom right;
  height: 835px;
}

/* Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 164px 0 156px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

/* Banner Styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 156px;
}
.banner-content {
  max-width: 580px;
  margin-top: 145px;
}
.banner-intro {
  font-size: 45px;
  font-weight: 600;
  margin: 0 auto;
}
.banner-title {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin: 5px 0 20px 0;
}
.banner-description {
  font-size: 18px;
  margin-bottom: 30px;
}
.banner-profile-pic {
  width: 584px;
  height: 676px;
  margin-top: 23px;
}
.banner-btn {
  display: flex;
  gap: 30px;
}

/* Main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* About Styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  margin-top: 130px;
  max-width: 830px;
}

.about-items {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.about-item {
  line-height: 1rem;
}

.item-title {
  color: #757575;
  font-size: 20px;
}

.item-description {
  color: #474747;
  font-size: 20px;
  font-weight: bold;
}

/* Skills Styles */
.skills {
  margin-top: 130px;
}

.skills-description {
  font-size: 18px;
  max-width: 910px;
  line-height: 30px;
  margin: 0 auto;
}

.skills-items {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
  font-size: 20px;
  font-weight: bold;
}

.skill-description {
  max-width: 200px;
  font-size: 16px;
  line-height: 28px;
}

/* Resume Styles */
.resume {
  margin-top: 130px;
}
.resume-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.experience {
  max-width: 510px;
}
h2.resume-column-title {
  font-size: 30px;
  font-weight: bold;
}
h3.experience-title {
  font-size: 25px;
  font-weight: bold;
  margin: 30px 0 0 0;
}
h5.experience-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
}
p.experience-description {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 47px 30px 0;
  line-height: 28px;
}
hr {
  color: #d1d1d1;
}
.resume-download-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Footer Styles */
.footer {
  background-color: #fff8f3;
  display: flex;
  justify-content: center;
  padding: 130px 156px;
  gap: 117px;
  margin-top: 113px;
}
h3.footer-title {
  font-size: 35px;
  font-weight: bold;
  margin: 0 auto;
}
p.footer-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 20px 0 30px 0;
}
.quick-link {
  display: flex;
  gap: 24px;
}
h3.contact-title {
  font-size: 35px;
  font-weight: bold;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 90%;
  height: 64px;
  margin-bottom: 24px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: #757575;
  padding: 10px 20px;
}

.contact-form textarea {
  width: 90%;
  height: 180px;
  margin-bottom: 24px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: #757575;
  padding: 10px 20px;
}

.contact-form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
input:focus,
textarea:focus {
  outline: 2px solid #fd6e0a;
  box-shadow: 0 0 0 3px rgba(253, 110, 10, 0.4);
}

/* Responsive styles */
/* Extra small (phones) */
@media (max-width: 575.98px) {
  .header {
    background-position: left 10px center, bottom center;
    background-size: auto, 370px;
    height: auto;
  }
  .banner-profile-pic {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  nav {
    margin: 0 20px 0 20px;
    flex-direction: column;
  }
  nav ul {
    gap: 30px;
    margin: 0 auto;
    padding: 0;
  }
  .banner {
    margin: 20px;
    flex-direction: column;
  }
  .banner-content {
    margin-top: 20px;
  }
  .banner-intro {
    font-size: 30px;
  }
  .banner-title {
    font-size: 35px;
  }
  .banner-description {
    font-size: 16px;
  }
  .btn-primary {
    font-size: 18px;
    padding: 20px 10px;
    gap: 5px;
  }
  .btn-secondary {
    font-size: 18px;
    padding: 20px 20px;

    gap: 5px;
  }
  main {
    max-width: 340px;
  }
  .about {
    padding: 10px 10px 30px 10px;
    margin-top: 80px;
  }
  .section-title {
    font-size: 25px;
  }
  .section-description {
    font-size: 16px;
  }
  .about-items {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    text-align: center;
  }
  .about-item {
    line-height: 0.5rem;
  }
  .item-description {
    font-size: 16px;
  }

  .skills {
    margin-top: 80px;
  }
  .skills-description {
    font-size: 16px;
  }
  .skills-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .resume {
    margin-top: 80px;
  }
  .resume-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2.resume-column-title {
    font-size: 25px;
    text-align: center;
  }
  .experience {
    max-width: 320px;
    text-align: center;
  }
  h3.experience-title {
    font-size: 19px;
  }
  h5.experience-subtitle {
    font-size: 18px;
  }
  p.experience-description {
    font-size: 16px;
    margin: 20px 20px;
  }

  .footer {
    flex-direction: column;
    padding: 20px 20px;
    gap: 30px;
    margin-top: 60px;
  }
  .footer-column {
    text-align: center;
  }
  .quick-link {
    justify-content: center;
  }
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 85%;
  }
}
